{% set ordered_links = {} %}
{% set redacted_link = false %}

{% set links_matches = [] %}
{% for language in dis_langs|merge(['🤔']) %}
    {% set language_links = [] %}

    {% for i, link in links %}
        {% set link_match = false %}

        {% if link.languageLang starts with language %}
            {% set link_match = true %}
        {% endif %}

        {% if not link_match and language == '🤔' and i not in links_matches %}
            {% set link_match = true %}
        {% endif %}

        {% if link_match %}
            {% set language_links = language_links|merge([link]) %}
            {% set links_matches = links_matches|merge([i]) %}

            {% if link.linkWebsiteRedacted %}
                {% set redacted_link = true %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if language_links|length > 0 %}
        {% set ordered_links = ordered_links|merge({(language): language_links}) %}
    {% endif %}
{% endfor %}

{% for lang, links in ordered_links %}
    <div id="{{ links_id ?? '' }}" class="{{ links_class ?? '' }}">
        <span class="d-block w-100 text-center p-2">--- {{ lang|upper }} ---</span>
        {% if redacted_link %}<div class="alert alert-warning">
            <span class="">There's redacted content!. Set unredacts to access it.</span>
        </div>{% endif %}
        <div class="row row-cols-1 {{ links|length > 1 ? 'row-cols-sm-2' : '' }} g-1 m-0">
            {% for link in links %}
                <div class="col">
                    {% if link.linkWebsiteRedacted %}
                        {% set linkWebsiteName = link.linkWebsiteHost %}
                    {% else %}
                        {% set linkWebsiteName = link.linkWebsiteName %}

                        {% if lang == '🤔' %}
                            {% set linkWebsiteName = link.linkWebsiteName ~ ' (' ~ link.languageLang ~ ')' %}
                        {% endif %}
                    {% endif %}

                    <a
                        target="_blank"
                        href="{{ funcComicBagiApp.href(link.linkWebsiteHost, link.linkRelativeReference) }}"
                        rel="noreferrer nofollow"
                        class="d-block text-truncate text-decoration-none p-2 border"
                    ><img
                        src="{{ funcComicBagiApp.href(link.linkWebsiteHost, '/favicon.ico') }}"
                        alt=""
                        style="height: 24px; width: 24px;"
                    /> {{ linkWebsiteName }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
